<footer>
    <img id="FooterLogo" src="/public/images/Logo.PNG">
    <p id="FooterText">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Donec et  lacinia nunc, in faucibus leo.<br>Fusce ut nulla elementum metus tincidunt  tincidunt quis sit amet magna.<br>Pellentesque quis venenatis massa, ac  aliquam nulla.”</p>
</footer>