<header>
    <div id="NavBar">
        <div class="NavPanelButtonDiv">
            <h1 class="NavPanelButton">☰</h1>
        </div>

        <div id="NavTitleDiv">
            <div id="NavTitleTextDiv">
                <h1 id="NavTitleText">PlacementHub</h1>
            </div>

            <div id="NavLogoDiv">
                <img id="NavLogo" src="images/Logo.PNG">
            </div>
        </div>
    </div>
</header>
<div class="closed" id="NavSideBar">
    <div class="NavPanelButtonDiv" id="fakeTitlebar">
        <h1 id="SidePanelButton" class="NavPanelButton">☰</h1>
        <p id="SidebarCloseText">Close</p>
    </div>
    <div id="SideBarOptions">
        <img id="SidebarProfileIcon" src="images/ProfileIcon.PNG">
        <a href="#">
            <img id="SidebarSettingIcon" src="images/SettingIcon.PNG">
        </a>
    </div>
    <a href="/">
        <div class="sideBarButton" id="HomeNavButton">
            <p>Home</p>
        </div>
    </a>
    <a href="/forum/placements">
        <div class="sideBarButton" id="ForumNavButton">
            <p>Forum</p>
        </div>
    </a>
</div>   