<header>
    <div id="NavBar">
        <div id="NavPanelButtonDiv">
            <h1 id="NavPanelButton">☰</h1>
        </div>

        <div id="NavTitleDiv">
            <div id="NavTitleTextDiv">
                <h1 id="NavTitleText">PlacementHub</h1>
            </div>

            <div id="NavLogoDiv">
                <img id="NavLogo" src="images/Logo.PNG">
            </div>
        </div>
    </div>
    <div class="closed" id="NavSideBar">
        <div id="SideBarOptions">
            <img id="SidebarProfileIcon" src="images/ProfileIcon.PNG">
            <img id="SidebarSettingIcon" src="images/SettingIcon.PNG">
        </div>
        <div class="sideBarButton" id="HomeNavButton">
            <p>Home</p>
        </div>
        <div class="sideBarButton" id="ForumNavButton">
            <p>Forum</p>
        </div>
    </div>   
</header>