<div id="UserDiv">
    <div id="UserDivBackgroundDiv">

    </div>
    <div id="UserDisplayDiv">
        <img id="UserProfileImage" src="images/ProfileIconAlt.PNG">

        <div id="UserProfileDetailsDiv">
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Name</h3>
                <p class="userProfileDetailText">Corey Gardner</p>
            </div>
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Email</h3>
                <p class="userProfileDetailText">Email Goes Here</p>
            </div>
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Placement Location</h3>
                <p class="userProfileDetailText">Aberdeen</p>
            </div>
        </div>
    </div>
</div>