<div id="UserDiv">
    <div id="UserDivBackgroundDiv">

    </div>
    <div id="UserDisplayDiv">
        <div id="UserButtonsDiv">
            <img src="">
            <button id="UserExitButton"><strong>X</strong></button>
        </div>
        <img id="UserProfileImage" src="public/images/ProfileIconAlt.PNG">

        <div id="UserProfileDetailsDiv">
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Name</h3>
                <p id="UsersNameText" class="userProfileDetailText">Corey Gardner</p>
            </div>
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Email</h3>
                <p id="UsersEmailText" class="userProfileDetailText">Email Goes Here</p>
            </div>
            <div class="userProfileDetailDiv">
                <h3 class="userProfileDetailHeading">Placement Location</h3>
                <p id="UsersLocationText" class="userProfileDetailText">Aberdeen</p>
            </div>
        </div>
    </div>
</div>