#ForumContainer{
    height: 900px;
    display: flex;
    flex-direction: row;
    background: #90A5D2;
    gap: 5px;
}

#ForumLeftColumn{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 5px;
}

#LocationContainer{
    flex-basis: 55%;
    overflow: auto;
}

#MapContainer{
    flex-grow: 1;
}

#ForumMiddleColumn{
    flex-basis: 50%;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

#ForumRightColumn{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    gap: 5px;
}

#BulletinHeadingDiv{
    background: #FFF;
    flex-grow: 1;
}

#BulletinContentDiv{
    background: #9BB2E4;
    flex-basis: 85%;
}

.generalLocationDiv{
    display: flex;
    flex-direction: column;
}

.locationDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #9BB2E4;
}

.locationText{
    margin: 0;
}

.locationArrow{
    height: 50px;
    cursor: pointer;
}

.down{
    transform: scaleY(1);
}

.up{
    transform: scaleY(-1);
}

.sublocationDiv{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #C8D2EA;
    cursor: pointer;
}

.shown{
    display: flex;
}

.hidden{
    display: none;
}

#ForumMap {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#PostDisplayHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
}