@import url("main.css");

#HomeWelcomeDiv {
    display: flex;
    justify-content: center;
}

#HomeWelcomeText {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    font-size: 30px;
}

.owl-stage {
    position: relative;
    background-color: #A8A8A8;
}

.owl-item {
    height: 360px;
}

.carouselTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    color: #000;
    opacity: 70%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    direction: ltr;
    height: 100px;
    left: 0;
    right: 0;
}

.carouselText {
    text-align: center;
    font-size: 0.75em;
    margin: 0;
}

.owl-item:hover .carouselTextDiv{
    height: 150px;
}

.owl-item:hover .carouselText{
    font-size: 0.9em;
}

#HomeLoginDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 45px;
}

#HomeLoginDetailDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-background);
    flex-basis: 100%;
    border-radius: 37px;
    padding: 40px;
}

#HomeLoginSectionDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 25%;
}

#HomeMiniLoginIcon {
    padding: 0;
    width: 50px;
}

#HomeLoginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.homeLoginField {
    border-radius: 15px;
    padding: 20px;
    border: 0;
    height: 50px;
}

#HomeEmailField{
    border-radius: 0px 15px 15px 15px;
}

#HomeLoginFooter{
    display: flex;
    justify-content: space-between;
}

#HomeLoginLinks{
    display: flex;
    flex-direction: column;
}

#HomeLoginButton{
    width: 100px;
    margin: 0;
}

#HomeLoginButton:active{
    background: #68849B;
}

#HomeDoneateDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}

.homeDonateBubble {
    height: 300px;
}

#HomeDoneateCenterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HomeDoneateCenterDiv p{
    text-align: center;
}

#DonateLogo {
    height: 64px;
}

#HomeBuildingDiv {
    height: 700px;
}

#HomeBuildingImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#HomeStoryDiv {
    display: flex;
    padding: 30px 150px;
    align-items: center;
    justify-content: space-around;
}

#HomeStoryTextDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HomeStoryMiniLogo {
    width: 64px;
}

.homeStoryText {
    text-align: center;
}

#HomeStoryStudentsImage{
    height: 350px;
}