html {
    --main-background: #093E6C;
    --secondary-background: #094375;
    --tertiary-background: #26537B;
    font-family: Helvetica;
}

body {
    margin: 0;
    background-color: var(--main-background);
    color: #FFFFFF;
}

a {
    color: #E2BE44;
}

button {
    padding: 5px;
    background-color: #7B9BB6;
    border-width: 0px 5px 10px 5px;
    border-radius: 24px;
    border-color: #6C90AE;
    border-style: solid;
    color: #FFF;
}

button:active {
    background-color: #68849B;
    border: 0;
    padding: 5px 10px 15px 10px;
}

#NavBar {
    display: flex;
    background-color: var(--secondary-background);
}

.NavPanelButtonDiv{
    display: flex;
    align-items: center;
}

.NavPanelButtonDiv:hover{
    background-color: #9BB2E4;
    cursor: pointer;
}

.NavPanelButton {
    margin: 0;
    padding: 5px 15px;
}

#SidebarCloseText{
    margin: 0;
}

#fakeTitlebar{
    height: 74px;
}

#NavTitleDiv{
    display: flex;
    justify-content: center;
    flex: auto;
}

#NavTitleTextDiv{
    margin: 0;
    align-content: center;
}

#NavTitleText{
    margin: 0;
}

#NavLogo {
    height: 64px;
    margin: 5px;
}

#NavSideBar {
    bottom: 0;
    top: 0;
    background-color: var(--secondary-background);
    width: 20%;
    z-index: 2;
    position: fixed;
}

#NavSideBar a{
    color: #FFFFFF;
    text-decoration: none;
}

#SidebarProfileIcon {
    height: 32px;
    margin: 5px;
    cursor: pointer;
}

#SidebarSettingIcon {
    height: 32px;
    margin: 5px;
    cursor: pointer;
}

.sideBarButton {
    padding: 15px;
    background-color: #9BB2E4;
}

.sideBarButton:hover{
    background-color: #9DEFCD;
    cursor: pointer;
}

.sideBarButton:hover p {
    color: #428938;
}

.closed {
    display: none;
}

.opened {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #073358;
    padding: 30px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#FooterLogo {
    width: 64px;
}

#FooterText {
    text-align: center;
}

#UserDiv {
    position: fixed;
    display: none;
    background: rgba(100, 100, 100, 0.85);
    justify-content: center;
    padding: 75px 0px;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#UserDivBackgroundDiv{
    top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#UserDivBackgroundDiv:hover{
    cursor: pointer;
}

#UserDisplayDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-background);
    width: 35%;
    border-radius: 15px;
    justify-content: space-around;
    z-index: 5;
}

#UserButtonsDiv{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px 25px;
}

#UserExitButton {
    width: 40px;
    height: 40px;
}

#UserLogoutButton {
    height: 40px;
}

#UserProfileImage{
    background: white;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    padding: 5px;
    object-fit: contain;
}

#UserProfileDetailsDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background: #37648A;
    border-radius: 25px;
    border-width: 15px 0px 0px 0px;
    border-style: solid;
    border-color: #3B6C95;
}

.userProfileDetailDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
}