<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>404 | Placement Hub</title>
    </head>

    <body style="text-align: center;">
        <h2>Error 404</h2>
        <p>Oh no! This page doesn't exist.</p>
        <p>Are you sure you know where you're going?</p>
    </body>
</html>