<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/forum.css">
    </head>

    <body>
        <%- include('../partials/header')%>

        <%- include('../partials/UserDisplay')%>

        <div id="ForumContainer">
            <div id="ForumLeftColumn">
                <div id="LocationContainer">

                </div>
                <div id="MapContainer">

                </div>
            </div>

            <div id="ForumMiddleColumn">

            </div>

            <div id="ForumRightColumn">
                <div id="BulletinHeadingDiv">
                    
                </div>
                <div id="BulletinContentDiv">
                    
                </div>
            </div>
        </div>

        <%- include('../partials/footer')%>
    </body>
</html>
